.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 20px;
  background-color: #3b4553;
  color: white;
  z-index: 1000;
}

/* LEFT */
.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* CENTER */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* RIGHT */
.header-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}
