.page-container {
  min-height: 100vh;
  background-color: #faf8f5;
  padding: 30px 20px;
  padding-top: 100px; /* espace pour le header en haut */
  padding-bottom: 80px; /* espace pour la navbar en bas */
  font-family: "Segoe UI", sans-serif;
}

.paiement-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adress-section,
.order-sum,
.total-section,
.payment-section,
.confirm-section {
  background-color: #f9f9f9;
  border-radius: 14px;
  cursor: pointer;
}
